
# ==============================================================================
# Databases and others files to be ignored
# DBeaver and other SQL tools
# ==============================================================================

# DBeaver Specific
.metadata/
.settings/
.recommenders/
.dbeaver/
.workspace/
dbeaver-data-sources.xml
dbeaver-workspace/
dbeaver-drivers/
Scripts/
General/

# DBeaver Project Files
.project 
.classpath
*.launch

# SQL Editor Temp Files
*.bak
*.tmp
*.log

# ==============================================================================
# OS Specific
# ==============================================================================

# Windows
Thumbs.db
Desktop.ini

# MacOS
.DS_Store

# Linux
*~

# ==============================================================================
# Database Dumps (No Upload)
# ==============================================================================

*.dump
*.sql.gz
*.zip
backups/
dump/
exports/

# ==============================================================================
# General IDE´s and Text Editors
# ==============================================================================

.vscode/
.idea/
*.swp
